@mixin button($bg-color, $bg-color-hover) {
  cursor: pointer;
  font-size: 15px;
  margin: 0.35rem;
  width: 6.5rem;
  height: 3.2rem;
  background-color: $bg-color;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  color: #000;

  &:hover {
    background-color: $bg-color-hover;
    color: white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

@mixin form-button($color, $bg-color, $color-hover, $bg-color-hover) {
  cursor: pointer;
  font-size: 15px;
  margin: 0.35rem;
  width: 5rem;
  height: 3.2rem;
  background-color: $bg-color;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid black;
  color: $color;

  &:hover {
    background-color: $bg-color-hover;
    color: $color-hover;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
@mixin modal-form($child) {
  .#{$child} {
    h3 {
      font-size: 23px;
    }
    label {
      font-weight: bold;
      font-size: 18px;
      padding-right: 0.5rem;
      display: block;
    }
    input,
    textarea {
      padding: 0.3rem 1rem;
      margin-bottom: 1rem;
      font-size: 16px;
      color: #000;
      outline: 0;
      &:disabled {
        display: inline-block;
        border: 0;
        background: #fff;
        text-decoration: underline;
      }
    }
    textarea {
      width: 90%;
      resize: none;
    }
    select {
      width: 100%;
      font-weight: bold;
      margin-bottom: 1.5rem;
      option {
        color: #000;
        &:checked {
          font-weight: bold;
          color: #000;
          text-decoration: underline;
          background: linear-gradient(90deg, rgba(200, 22, 31, 1) 55%, rgba(0, 120, 47, 1) 45%);
        }
      }
    }
  }
}
