@mixin button($bg-color, $bg-color-hover) {
  cursor: pointer;
  font-size: 15px;
  margin: 0.35rem;
  width: 6.5rem;
  height: 3.2rem;
  background-color: $bg-color;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  color: #000;

  &:hover {
    background-color: $bg-color-hover;
    color: white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
