@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

$font: 'Roboto Condensed', sans-serif;
$primary-color: #000;
$bg-color: #e4e4e4;
$btn-color: #000;
$btn-color-hover: #fff;
$btn-bg-color: #17a2bb;
$btn-bg-color-hover: #0132cb;
$btn-warning-bg-color: #c60000;
$btn-warning-bg-color-hover: red;
$btn-success-bg-color: #126a14;
$btn-success-bg-color-hover: #244d20;
$btn-form-save-color: #000;
$btn-form-save-bg-color: #009900;
$btn-form-save-color-hover: #fff;
$btn-form-save-bg-color-hover: #009900;
$btn-form-back-color: #000;
$btn-form-back-bg-color: #fff;
$btn-form-back-color-hover: #fff;
$btn-form-back-bg-color-hover: #000;
