header {
  .header__content {
    display: flex;
    justify-content: space-between;
  }
  margin-bottom: 1.5rem;
  background-color: #46aca3;
  padding: 1.5rem 0;

  .header__title {
    font-weight: bold;
    color: white;
    font-size: 2rem;
  }
}
