.logon-btn {
  cursor: pointer;
  width: 75px;
  height: 75px;
  &:hover path {
    fill: #000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
